In [1]:
import pandas as pd

In [4]:
raw_data = pd.read_csv('../data/raw/base_modelo.csv')

raw_data.shape

(10738, 81)

In [3]:
raw_data

,id,safra,y,VAR_1,VAR_2,VAR_3,VAR_4,VAR_5,VAR_6,VAR_7,...,VAR_69,VAR_70,VAR_71,VAR_72,VAR_73,VAR_74,VAR_75,VAR_76,VAR_77,VAR_78
0,1,201404,0,0.0,0.0,0.0,0.0,124.54,3277.0,51.98,...,156.38,7.52,0.0,151.0,0.0,3.0,477.84,173.06,0.00,3.0
1,2,201407,0,64.0,0.0,2.0,1.0,47.92,2443.0,84.72,...,707.84,NaN,NaN,187.0,NaN,NaN,NaN,184.69,54.00,NaN
2,3,201405,0,99.0,2.0,2.0,2.0,80.38,1824.0,26.63,...,471.86,NaN,NaN,96.0,NaN,NaN,NaN,732.00,121.98,NaN
3,4,201412,0,0.0,0.0,0.0,0.0,10.58,3796.0,NaN,...,119.96,23.00,0.0,417.0,0.0,0.0,NaN,NaN,0.00,0.0
4,5,201403,1,0.0,0.0,0.0,0.0,70.46,437.0,40.69,...,NaN,NaN,0.0,75.0,0.0,0.0,914.45,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10733,10734,201406,0,44.0,0.0,0.0,1.0,107.49,515.0,183.36,...,NaN,NaN,NaN,-67.0,NaN,NaN,NaN,NaN,NaN,NaN
10734,10735,201407,0,0.0,0.0,0.0,0.0,39.98,1029.0,NaN,...,203.07,NaN,2.0,404.0,2.0,2.0,324.31,0.00,61.11,2.0
10735,10736,201403,1,169.0,3.0,1.0,2.0,105.08,819.0,49.28,...,260.00,4.19,3.0,7.0,3.0,3.0,419.16,420.16,0.00,3.0
10736,10737,201402,1,46.0,0.0,0.0,1.0,265.79,1740.0,NaN,...,447.77,NaN,NaN,6.0,NaN,NaN,NaN,358.08,92.91,NaN
10737,10738,201404,1,51.0,0.0,0.0,1.0,NaN,2573.0,NaN,...,386.77,NaN,NaN,646.0,NaN,NaN,NaN,203.75,0.00,NaN